@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here:400|Paprika:400|Fjalla+One:400|Biryani:400,700');

@font-face {
                          font-family: "Biryani-Black";
                          src: url('../fonts/Biryani-Black.ttf') format("truetype");
                        }
                        
.floracracycasestudy {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 10386px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.floracracycasestudy .rectangle {
  background-color    : rgba(123, 123, 123, 1.0);
  top                 : -26px;
  height              : 1916px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .rectanglecopy {
  background-color    : rgba(123, 123, 123, 1.0);
  top                 : 2895px;
  height              : 897px;
  box-sizing          : border-box;
  width               : 1442px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .rectanglecopy2 {
  background-color    : rgba(123, 123, 123, 1.0);
  top                 : 6258px;
  height              : 1673px;
  box-sizing          : border-box;
  width               : 1442px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .visualizer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6765px;
  height              : 965px;
  width               : 1716px;
  position            : absolute;
  margin              : 0;
  left                : -138px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .a02 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3453px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 817px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 96.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 11.03px;
  line-height         : 169.0px;
}
.floracracycasestudy .a01 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3453px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 96.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 11.03px;
  line-height         : 169.0px;
}
.floracracycasestudy .a011 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8489px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 96.0px;
  color               : rgba(97, 95, 95, 1.0);
  text-align          : left;
  letter-spacing      : 11.03px;
  line-height         : 169.0px;
}
.floracracycasestudy .a021 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8489px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 920px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 96.0px;
  color               : rgba(97, 95, 95, 1.0);
  text-align          : left;
  letter-spacing      : 11.03px;
  line-height         : 169.0px;
}
.floracracycasestudy .madetobebeautiful {
  background-color    : rgba(255,255,255,0.0);
  top                 : 626px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 491px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 4.14px;
  line-height         : 64.0px;
}
.floracracycasestudy .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : -26px;
  height              : 263px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .logo .rectangle1 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 65px;
  height              : 137px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .logo .sh {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Fjalla One", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 208.12px;
  color               : rgba(124, 124, 124, 1.0);
  text-align          : left;
  line-height         : 262.0px;
}
.floracracycasestudy .copyright2512020shi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10276px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 379px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(97, 97, 97, 1.0);
  text-align          : left;
  letter-spacing      : 4.14px;
  line-height         : 64.0px;
}
.floracracycasestudy .group57 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 239px;
  height              : 349px;
  width               : 784px;
  position            : absolute;
  margin              : 0;
  left                : 328px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 279px;
  height              : 69px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .fill2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 279px;
  height              : 69px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 349px;
  width               : 649px;
  position            : absolute;
  margin              : 0;
  left                : 135px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 278px;
  height              : 71px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 279px;
  height              : 69px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 279px;
  height              : 69px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 171px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 279px;
  height              : 69px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 278px;
  height              : 71px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 256px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 279px;
  height              : 69px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 345px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 278px;
  height              : 71px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 503px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .group19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 279px;
  height              : 69px;
  width               : 66px;
  position            : absolute;
  margin              : 0;
  left                : 583px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .group19 .group191 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 69px;
  width               : 66px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 248px;
  width               : 188px;
  position            : absolute;
  margin              : 0;
  left                : 162px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 91px;
  height              : 4px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 299px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 3px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 296px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill26 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 91px;
  height              : 6px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 301px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill28 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : 5px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 313px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill30 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 5px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 310px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 82px;
  height              : 3px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 314px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill34 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : 4px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 314px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill36 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : 5px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 308px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill38 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : 4px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 321px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : 5px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 318px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill42 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 93px;
  height              : 3px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 321px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill44 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 95px;
  height              : 4px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill46 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 91px;
  height              : 6px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 315px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill48 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 92px;
  height              : 6px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 303px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill50 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 96px;
  height              : 4px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 297px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill52 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 242px;
  height              : 2px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 207px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group57 .group56 .fill54 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 2px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 162px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .untitled {
  background-color    : rgba(255,255,255,0.0);
  top                 : 690px;
  height              : 438px;
  width               : 584px;
  position            : absolute;
  margin              : 0;
  left                : 867px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .mybag {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1106px;
  height              : 600px;
  width               : 800px;
  position            : absolute;
  margin              : 0;
  left                : 712px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .mybagdesktop {
  background-color    : rgba(255,255,255,0.0);
  top                 : 626px;
  height              : 780px;
  width               : 1387px;
  position            : absolute;
  margin              : 0;
  left                : -164px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .floracracyisaweb {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1666px;
  height              : auto;
  width               : 1159px;
  position            : absolute;
  margin              : 0;
  left                : 141px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 4.14px;
  line-height         : 64.0px;
}
.floracracycasestudy .thechallenge {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2020px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 105px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 60.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : center;
  letter-spacing      : 6.89px;
  line-height         : 106.0px;
}
.floracracycasestudy .designdirections {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3941px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 60.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : center;
  letter-spacing      : 6.89px;
  line-height         : 106.0px;
}
.floracracycasestudy .thecompetition {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3052px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 60.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 6.89px;
  line-height         : 106.0px;
}
.floracracycasestudy .thesolution {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6482px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 60.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 6.89px;
  line-height         : 106.0px;
}
.floracracycasestudy .closingthoughts {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8103px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 60.0px;
  color               : rgba(97, 95, 95, 1.0);
  text-align          : center;
  letter-spacing      : 6.89px;
  line-height         : 106.0px;
}
.floracracycasestudy .ourstakeholderssa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2191px;
  height              : auto;
  width               : 1266px;
  position            : absolute;
  margin              : 0;
  left                : 106px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  letter-spacing      : 4.14px;
  line-height         : 64.0px;
}
.floracracycasestudy .icameupwiththree {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4112px;
  height              : auto;
  width               : 1266px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(97, 94, 94, 1.0);
  text-align          : left;
  letter-spacing      : 4.14px;
  line-height         : 64.0px;
}
.floracracycasestudy .toputourexplatory {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3223px;
  height              : auto;
  width               : 1266px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 4.14px;
  line-height         : 64.0px;
}
.floracracycasestudy .hereisalookatmy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6653px;
  height              : auto;
  width               : 1266px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 4.14px;
  line-height         : 64.0px;
}
.floracracycasestudy .attheendourourj {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8274px;
  height              : auto;
  width               : 1266px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(97, 95, 95, 1.0);
  text-align          : left;
  letter-spacing      : 4.14px;
  line-height         : 64.0px;
}
.floracracycasestudy .naturalphotos {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3582px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 4.14px;
  line-height         : 64.0px;
}
.floracracycasestudy .moderndesign {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3582px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 817px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 4.14px;
  line-height         : 64.0px;
}
.floracracycasestudy .moodboard3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4346px;
  height              : 518px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .styletile2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4346px;
  height              : 518px;
  width               : 774px;
  position            : absolute;
  margin              : 0;
  left                : 468px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .styletile1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4934px;
  height              : 518px;
  width               : 709px;
  position            : absolute;
  margin              : 0;
  left                : 659px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .moodboard1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4934px;
  height              : 518px;
  width               : 567px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .styletile3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5565px;
  height              : 501px;
  width               : 775px;
  position            : absolute;
  margin              : 0;
  left                : 593px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .moodboard2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5522px;
  height              : 587px;
  width               : 534px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .arrows {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7195px;
  height              : 106px;
  width               : 106px;
  position            : absolute;
  margin              : 0;
  left                : 1253px;
  transform           : rotate(0deg);
  opacity             : 0.5;
}
.floracracycasestudy .arrows .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 106px;
  width               : 106px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .arrows .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 66px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .arrowscopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7195px;
  height              : 106px;
  width               : 106px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  transform           : rotate(0deg);
  opacity             : 0.5;
}
.floracracycasestudy .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7596px;
  height              : 21px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 630px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 13px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group .ovalcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 13px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group .ovalcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 13px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group .ovalcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 13px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group .ovalcopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 13px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group .ovalcopy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 13px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group .ovalcopy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 13px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 132px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group .ovalcopy8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 13px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group .ovalcopy9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 13px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 168px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .portfolio {
  background-color    : rgba(255,255,255,0.0);
  top                 : 73px;
  height              : auto;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 851px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(229, 226, 226, 1.0);
  text-align          : center;
  letter-spacing      : 2.07px;
  line-height         : 32.0px;
}
.floracracycasestudy .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 73px;
  height              : auto;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 1018px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Biryani", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(229, 226, 226, 1.0);
  text-align          : center;
  letter-spacing      : 2.07px;
  line-height         : 32.0px;
}
.floracracycasestudy .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 75px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 1360px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group4 .fill6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group4 .fill22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 8px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group4 .fill24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 7px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group4 .fill26 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group4 .fill28 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 5px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group4 .fill30 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 5px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group4 .fill32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 6px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .fill19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 77px;
  height              : 21px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 1219px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .fill19 .fill8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : 17px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 1172px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group2 .fill10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 13px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group2 .fill16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 8px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 76px;
  height              : 24px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 1267px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group3 .fill12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 17px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group3 .fill18 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 16px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .group3 .fill20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.floracracycasestudy .fill14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 75px;
  height              : 25px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 1319px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}